<a href="https://colab.research.google.com/github/SamilG2/challenge-telecomx-02/blob/main/TelecomX02_LATAM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Extracción** 📌

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv('datos_tratados.csv')
df.head()

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total,Cuentas_Diarias
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.30,2.186667
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.40,1.996667
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85,2.463333
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85,3.266667
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.40,2.796667

In [3]:
# Ver las columnas disponibles
df.columns

Index(['customerID', 'Churn', 'customer.gender', 'customer.SeniorCitizen',
       'customer.Partner', 'customer.Dependents', 'customer.tenure',
       'phone.PhoneService', 'phone.MultipleLines', 'internet.InternetService',
       'internet.OnlineSecurity', 'internet.OnlineBackup',
       'internet.DeviceProtection', 'internet.TechSupport',
       'internet.StreamingTV', 'internet.StreamingMovies', 'account.Contract',
       'account.PaperlessBilling', 'account.PaymentMethod',
       'account.Charges.Monthly', 'account.Charges.Total', 'Cuentas_Diarias'],
      dtype='object')

In [4]:
# Verificar la estructura general
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7043 non-null   object
 1   Churn                      7043 non-null   object
 2   customer.gender            7043 non-null   object
 3   customer.SeniorCitizen     7043 non-null   int64
 4   customer.Partner           7043 non-null   object
 5   customer.Dependents        7043 non-null   object
 6   customer.tenure            7043 non-null   int64
 7   phone.PhoneService         7043 non-null   object
 8   phone.MultipleLines        7043 non-null   object
 9   internet.InternetService   7043 non-null   object
 10  internet.OnlineSecurity    7043 non-null   object
 11  internet.OnlineBackup      7043 non-null   object
 12  internet.DeviceProtection  7043 non-null   object
 13  internet.TechSupport       7043 non-null   object
 14  internet.StreamingTV       7043 non-null   object
 15  internet.StreamingMovies   7043 non-null   object
 16  account.Contract           7043 non-null   object
 17  account.PaperlessBilling   7043 non-null   object
 18  account.PaymentMethod      7043 non-null   object
 19  account.Charges.Monthly    7043 non-null   float64
 20  account.Charges.Total      7032 non-null   float64
 21  Cuentas_Diarias            7043 non-null   float64
dtypes: float64(3), int64(2), object(17)
memory usage: 1.2+ MB

# **Preparación de los Datos** 🛠️

In [5]:
# Remover columnas irrelevantes
df = df.drop(columns=['customerID'])

In [6]:
# Enconding
# Crear una nueva copia del dataframe
df_clean = df.copy()

# Etapa 1: Agrupar "No internet service" como "No"
cols_to_fix = [
    'internet.OnlineSecurity', 'internet.OnlineBackup', 'internet.DeviceProtection',
    'internet.TechSupport', 'internet.StreamingTV', 'internet.StreamingMovies'
]

for col in cols_to_fix:
    df_clean[col] = df_clean[col].replace('No internet service', 'No')

# Etapa 2: One-hot encoding (sin dummy trap)
categorical_cols = [
       'Churn', 'customer.gender', 'customer.Partner', 'customer.Dependents',
       'phone.PhoneService', 'phone.MultipleLines', 'internet.InternetService',
       'internet.OnlineSecurity', 'internet.OnlineBackup',
       'internet.DeviceProtection', 'internet.TechSupport',
       'internet.StreamingTV', 'internet.StreamingMovies', 'account.Contract',
       'account.PaperlessBilling', 'account.PaymentMethod'
]

df_encoded = pd.get_dummies(df_clean, columns=categorical_cols, drop_first=True)

# Resultado final
df_encoded

,customer.SeniorCitizen,customer.tenure,account.Charges.Monthly,account.Charges.Total,Cuentas_Diarias,Churn_Yes,customer.gender_Male,customer.Partner_Yes,customer.Dependents_Yes,phone.PhoneService_Yes,...,internet.DeviceProtection_Yes,internet.TechSupport_Yes,internet.StreamingTV_Yes,internet.StreamingMovies_Yes,account.Contract_One year,account.Contract_Two year,account.PaperlessBilling_Yes,account.PaymentMethod_Credit card (automatic),account.PaymentMethod_Electronic check,account.PaymentMethod_Mailed check
0,0,9,65.60,593.30,2.186667,False,False,True,True,True,...,False,True,True,False,True,False,True,False,False,True
1,0,9,59.90,542.40,1.996667,False,True,False,False,True,...,False,False,False,True,False,False,False,False,False,True
2,0,4,73.90,280.85,2.463333,True,True,False,False,True,...,True,False,False,False,False,False,True,False,True,False
3,1,13,98.00,1237.85,3.266667,True,True,True,False,True,...,True,False,True,True,False,False,True,False,True,False
4,1,3,83.90,267.40,2.796667,True,False,True,False,True,...,False,True,True,False,False,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,13,55.15,742.90,1.838333,False,False,False,False,True,...,False,True,False,False,True,False,False,False,False,True
7039,0,22,85.10,1873.70,2.836667,True,True,True,False,True,...,False,False,False,True,False,False,True,False,True,False
7040,0,2,50.30,92.75,1.676667,False,True,False,False,True,...,False,False,False,False,False,False,True,False,False,True
7041,0,67,67.85,4627.65,2.261667,False,True,True,True,True,...,True,True,False,True,False,True,False,False,False,True
7042,0,63,59.00,3707.60,1.966667,False,True,True,True,False,...,True,False,True,True,False,True,False,False,True,False

In [7]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 26 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   customer.SeniorCitizen                         7043 non-null   int64
 1   customer.tenure                                7043 non-null   int64
 2   account.Charges.Monthly                        7043 non-null   float64
 3   account.Charges.Total                          7032 non-null   float64
 4   Cuentas_Diarias                                7043 non-null   float64
 5   Churn_Yes                                      7043 non-null   bool
 6   customer.gender_Male                           7043 non-null   bool
 7   customer.Partner_Yes                           7043 non-null   bool
 8   customer.Dependents_Yes                        7043 non-null   bool
 9   phone.PhoneService_Yes                         7043 non-null   bool
 10  phone.MultipleLines_No phone service           7043 non-null   bool
 11  phone.MultipleLines_Yes                        7043 non-null   bool
 12  internet.InternetService_Fiber optic           7043 non-null   bool
 13  internet.InternetService_No                    7043 non-null   bool
 14  internet.OnlineSecurity_Yes                    7043 non-null   bool
 15  internet.OnlineBackup_Yes                      7043 non-null   bool
 16  internet.DeviceProtection_Yes                  7043 non-null   bool
 17  internet.TechSupport_Yes                       7043 non-null   bool
 18  internet.StreamingTV_Yes                       7043 non-null   bool
 19  internet.StreamingMovies_Yes                   7043 non-null   bool
 20  account.Contract_One year                      7043 non-null   bool
 21  account.Contract_Two year                      7043 non-null   bool
 22  account.PaperlessBilling_Yes                   7043 non-null   bool
 23  account.PaymentMethod_Credit card (automatic)  7043 non-null   bool
 24  account.PaymentMethod_Electronic check         7043 non-null   bool
 25  account.PaymentMethod_Mailed check             7043 non-null   bool
dtypes: bool(21), float64(3), int64(2)
memory usage: 419.7 KB

In [8]:
# Verificación de valores nulos
df_encoded.isnull().sum()

customer.SeniorCitizen                            0
customer.tenure                                   0
account.Charges.Monthly                           0
account.Charges.Total                            11
Cuentas_Diarias                                   0
Churn_Yes                                         0
customer.gender_Male                              0
customer.Partner_Yes                              0
customer.Dependents_Yes                           0
phone.PhoneService_Yes                            0
phone.MultipleLines_No phone service              0
phone.MultipleLines_Yes                           0
internet.InternetService_Fiber optic              0
internet.InternetService_No                       0
internet.OnlineSecurity_Yes                       0
internet.OnlineBackup_Yes                         0
internet.DeviceProtection_Yes                     0
internet.TechSupport_Yes                          0
internet.StreamingTV_Yes                          0
internet.StreamingMovies_Yes                      0
account.Contract_One year                         0
account.Contract_Two year                         0
account.PaperlessBilling_Yes                      0
account.PaymentMethod_Credit card (automatic)     0
account.PaymentMethod_Electronic check            0
account.PaymentMethod_Mailed check                0
dtype: int64

In [9]:
# Verifica valores nulos en las dos columnas
print(df_encoded[['account.Charges.Total']].isnull().sum())

account.Charges.Total    11
dtype: int64

In [10]:
# Elimina filas con valores nulos en las columnas especificadas
df_encoded = df_encoded.dropna(subset=['account.Charges.Total'])

In [11]:
# Tratamiento de valores nulos
df_encoded.isnull().sum()

customer.SeniorCitizen                           0
customer.tenure                                  0
account.Charges.Monthly                          0
account.Charges.Total                            0
Cuentas_Diarias                                  0
Churn_Yes                                        0
customer.gender_Male                             0
customer.Partner_Yes                             0
customer.Dependents_Yes                          0
phone.PhoneService_Yes                           0
phone.MultipleLines_No phone service             0
phone.MultipleLines_Yes                          0
internet.InternetService_Fiber optic             0
internet.InternetService_No                      0
internet.OnlineSecurity_Yes                      0
internet.OnlineBackup_Yes                        0
internet.DeviceProtection_Yes                    0
internet.TechSupport_Yes                         0
internet.StreamingTV_Yes                         0
internet.StreamingMovies_Yes                     0
account.Contract_One year                        0
account.Contract_Two year                        0
account.PaperlessBilling_Yes                     0
account.PaymentMethod_Credit card (automatic)    0
account.PaymentMethod_Electronic check           0
account.PaymentMethod_Mailed check               0
dtype: int64

In [12]:
# Verificación de la proporción de Cancelación (Churn)
df_encoded['Churn_Yes'].value_counts(normalize=True)

Churn_Yes
False    0.734215
True     0.265785
Name: proportion, dtype: float64

In [15]:
# Normalización
from sklearn.preprocessing import MinMaxScaler

# Seleccionando solo columnas numéricas (excepto la variable target, si ya está separada)
colunas_numericas = df_encoded.select_dtypes(include=['int64', 'float64']).columns

# Create a deep copy to avoid SettingWithCopyWarning
df_normalized = df_encoded.copy(deep=True)

# Inicializando el scaler
scaler = MinMaxScaler()

# Aplicando la normalización
df_normalized[colunas_numericas] = scaler.fit_transform(df_normalized[colunas_numericas])

# Mostrando los datos normalizados
df_normalized.head()

,customer.SeniorCitizen,customer.tenure,account.Charges.Monthly,account.Charges.Total,Cuentas_Diarias,Churn_Yes,customer.gender_Male,customer.Partner_Yes,customer.Dependents_Yes,phone.PhoneService_Yes,...,internet.DeviceProtection_Yes,internet.TechSupport_Yes,internet.StreamingTV_Yes,internet.StreamingMovies_Yes,account.Contract_One year,account.Contract_Two year,account.PaperlessBilling_Yes,account.PaymentMethod_Credit card (automatic),account.PaymentMethod_Electronic check,account.PaymentMethod_Mailed check
0,0.0,0.112676,0.471144,0.066294,0.471144,False,False,True,True,True,...,False,True,True,False,True,False,True,False,False,True
1,0.0,0.112676,0.414428,0.060420,0.414428,False,True,False,False,True,...,False,False,False,True,False,False,False,False,False,True
2,0.0,0.042254,0.553731,0.030239,0.553731,True,True,False,False,True,...,True,False,False,False,False,False,True,False,True,False
3,1.0,0.169014,0.793532,0.140670,0.793532,True,True,True,False,True,...,True,False,True,True,False,False,True,False,True,False
4,1.0,0.028169,0.653234,0.028687,0.653234,True,False,True,False,True,...,False,True,True,False,False,False,True,False,False,True